tmp
log
.DS_Store
/db/*.sqlite3
.byebug_history
/config/master.key

/master.key.new
config/new.cred.yml
..rubocop.yml.un~
/node_modules/
/public/packs
/public/assets
/public/packs-test
/node_modules
/public/uploads/tmp/*
/public/system/*
