<tr>
	<td><%= link_to "#{gist.question.title.truncate(25)}", admin_question_path(gist.question.id) %></td>
	<td><%= gist.user.email %></td>
	<td><%= link_to "#{gist.gist_hash}", gist.link, :target => :_blank, :rel => :nofollow %></td>
</tr>