<h1>All gists</h1>

<table>
  <tr>
	<th><%= I18n.t('gists.index.question') %></th>
	<th><%= I18n.t('gists.index.gist_url') %></th>
	<th><%= I18n.t('gists.index.user') %></th>
  </tr>

  <%= render @gists %>
</table>