<h1>The <%= @test_passage.test.title %> Test was completed!</h1>

<% percentage = @test_passage.procent %>

<h2>Percentage: </h2><h2 class="<%= "#{@test_passage.success ? :red : :green}_number"%>"><%= percentage %></h2><h2>%</h2>
<% if @test_passage.success %>
  <h3>Вы успешно прошли тест!</h3>
<% else %>
  <h3>Вы не прошли тест</h3>
<% end %>

<%= link_to 'Back', tests_path %>