<footer>
  <p>
	<%= current_year %>
  </p>

  <p>
	Stepan Chelyshev
  </p>

  <p>
	<%= github_url('biggerevil', 'Rails') %>
  </p>

  <p>
	Сайт с тестами, которые можно проходить, создавать, менять и удалять
  </p>

  <p>
	<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: :_blank %>
  </p>
</footer>