<h1>All Tests</h1>

<p>
	<%= link_to 'New test', new_admin_test_path %>
</p>

<table class="table">
	<tr>
		<th class="sort-by-title pointer">
		  Title
		  <%= octicon 'arrow-up', class: 'text-success' %>
		  <%= octicon 'arrow-down', class: 'text-success' %>
		</th>
		<th>Level</th>
		<th>Questions</th>
		<th colspan="4">Actions</th>
	</tr>

	<%= render @tests %>
</table>